doctype html
html
  head
    meta(http-equiv='Content-type' content='text/html; charset=utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    title Ninja the Virtual
    link(rel='stylesheet', href='/stylesheets/style.css' + '?' + (Date.now().toString()))

    script(src='https://aframe.io/releases/0.8.2/aframe.min.js')
    script(src='https://unpkg.com/aframe-template-component@3.x.x/dist/aframe-template-component.min.js')
    script(src='https://unpkg.com/aframe-layout-component@4.x.x/dist/aframe-layout-component.min.js')
  body
    block content
